.sv-experience {
    height: 65vh;
    background: url("/images/home/experience-bg.jpg") center/cover fixed no-repeat;
    position: relative;
    margin-top: 60px;
  }
  
  .sv-experience-overlay {
    background: rgba(14, 90, 94, 0.75);
    width: 100%;
    height: 100%;
    backdrop-filter: blur(3px);
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 10%;
    text-align: center;
  }
  
  .sv-experience-overlay h2 {
    font-size: 48px;
    margin-bottom: 20px;
    color: #f8f8f8;
  }
  
  .sv-experience-overlay p {
    font-size: 20px;
    max-width: 700px;
    margin: auto;
    color: #f2ebdf;
  }
  